<ion-header>
    <ion-navbar>
        <ion-title>Emails</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let email of emails; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(email)">
                <!-- todo: special handling for translating enum - {{'TipoEmail.' + email.tipoEmail}}" -->
                <p>{{email.tipoEmail}}</p>
                <p>{{email.descricao}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, email)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(email)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!emails?.length">
        No Emails found.
    </ion-item>
</ion-content>
