<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list *ngIf="settingsAccount">
		<ion-item>
			<ion-label fixed>ID</ion-label>
			<div item-content>
                <span>{{settingsAccount.id}}</span>
            </div>
		</ion-item>
		<ion-item>
			<ion-label fixed>Login</ion-label>
			<div item-content>
                <span>{{settingsAccount.login}}</span>
            </div>
		</ion-item>
		<ion-item>
			<ion-label fixed>Primeiro Nome</ion-label>
			<div item-content>
                <span>{{settingsAccount.firstName}}</span>
            </div>
		</ion-item>
		<ion-item>
			<ion-label fixed>Último Nome</ion-label>
			<div item-content>
                <span>{{settingsAccount.lastName}}</span>
            </div>
		</ion-item>
		<ion-item>
			<ion-label fixed>Email</ion-label>
			<div item-content>
                <span>{{settingsAccount.email}}</span>
            </div>
		</ion-item>
		<ion-item *ngIf="fotoUser">
			<ion-label fixed>Foto</ion-label>
			<div item-content *ngIf="fotoUser">
				<img src="{{fotoUser}}" style="max-height: 300px;"/>
            </div>
		</ion-item>
		
		<ion-buttons>
			<button ion-button block (click)="openSettingsDialogPage(settingsAccount)">{{ 'EDIT_BUTTON' | translate }}</button>
			<div *ngIf="pessoa">
				<button ion-button block (click)="openPessoaDialogPage(settingsAccount)">{{ 'DADOS_PESSOA_BUTTON' | translate }}</button>
				<button ion-button block (click)="open(settingsAccount, EnderecoPage)">{{ 'ENDERECO_PESSOA_BUTTON' | translate }}</button>
				<button ion-button block (click)="open(settingsAccount, TelefonePage)">{{ 'TELEFONE_PESSOA_BUTTON' | translate }}</button>
				<button ion-button block (click)="open(settingsAccount, EmailPage)">{{ 'EMAIL_PESSOA_BUTTON' | translate }}</button>
				<button ion-button block (click)="open(settingsAccount)">{{ 'DOCUMENTO_PESSOA_BUTTON' | translate }}</button>
				<button ion-button block (click)="open(settingsAccount)">{{ 'MATRICULA_PESSOA_BUTTON' | translate }}</button>
			</div>	
		</ion-buttons>
    </ion-list>
</ion-content>