<ion-header>
    <ion-navbar>
        <ion-title>Enderecos</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let endereco of enderecos; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(endereco)">
                <!-- todo: special handling for translating enum - {{'TipoResidencia.' + endereco.tipoResidencia}}" -->
                <p>{{endereco.tipoResidencia}}</p>
                <!-- todo: special handling for translating enum - {{'EnderecoTipo.' + endereco.tipoEndereco}}" -->
                <p>{{endereco.tipoEndereco}}</p>
                <!-- todo: special handling for translating enum - {{'TipoLogradouro.' + endereco.tipoLogradouro}}" -->
                <p>{{endereco.tipoLogradouro}}</p>
                <p>{{endereco.nome}}</p>
                <p>{{endereco.numero}}</p>
                <p>{{endereco.bairro}}</p>
                <!-- todo: special handling for translating enum - {{'TipoBairro.' + endereco.tipoBairoo}}" -->
                <p>{{endereco.tipoBairoo}}</p>
                <!-- todo: special handling for translating enum - {{'Regiao.' + endereco.zona}}" -->
                <p>{{endereco.zona}}</p>
                <p>{{endereco.cep}}</p>
                <p>{{endereco.bloco}}</p>
                <p>{{endereco.apto}}</p>
                <p>{{endereco.complemento}}</p>
                <p>{{endereco.cidade}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, endereco)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(endereco)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!enderecos?.length">
        No Enderecos found.
    </ion-item>
</ion-content>
